.textImageFlex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text {
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 38px;
}

.imageText {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
    align-items: center;
}

.socialLogoText {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}